bareos:
   build: .
   links:
    - mariadb
   volumes:
    - ./.my.cnf:/root/.my.cnf 
   ports:
    - 8085:80
    - 9101:9101
    - 9102:9102
    - 9103:9103  
mariadb:
   image: mariadb:10
   environment:
      - MYSQL_ROOT_PASSWORD=mariadb
      - MYSQL_DATABASE=bareos
      - MYSQL_USER=bareos
      - MYSQL_PASSWORD=bareos
   
   
